<div class="" style="margin-top:35px;"></div>
<section class="row">
    <div class="col-12 col-sm-6">
        <!-- <h3>Agregar:</h3>

        <h3>Nombre del nuevo Personaje: {{name()}}</h3>

        <input 
            type="text" 
            name="" id="" 
            class="form-control" 
            placeholder="Nombre del personaje"
            [value]="name()"
            (change)="name.set(txtName.value)"
            #txtName 
        >


        <h3> Poder del nuevo personaje: {{power()}}</h3>

        <input 
            type="number" 
            name="" id="" 
            class="form-control" 
            placeholder="Poder del personaje"
            [value]="power()"
            (change)="power.set(txtPower.valueAsNumber)"
            #txtPower
        >

        <button class="mt-2 btn btn-primary" (click)="addCharacter()">Agregar</button> -->

        <app-character-add (nuevoCharacter)="escuharNuevoCharacter($event)" ></app-character-add>

    </div>

    <div class="col-12">

        <h3>Listado</h3>
<!--  
        <ol >
             @for (dato of datos; track $index) {} 
             @for (character of characters(); track $index) {

                @if (character.power>=2000) {

                <li>
                    <span>
                        {{ character.name }} - 
                        <strong 
                            [class.text-danger]="character.power>=8000"
                            [class.text-primary]="character.power<8000"
                            >{{ character.power }}
                        </strong>
                    </span>
                </li>    

                } @else {
                    <li>
                        <span>
                            {{ character.name }} - 
                            No es poderoso
                        </span>
                    </li>
                }
                
             }

              @for (character of characters(); track character.id) {
                <li>
                    <span>
                        {{ character.name }} - {{ character.power }}
                    </span>
                </li>
             } 
            
        </ol> -->

        <app-character-list [characters] = "characters()" />

    </div>
</section>